@import "tailwindcss";

html, body {
    margin: 0;
    padding: 0;
}

@theme {
    --color-background: hsl(40 33% 97%);
    --color-foreground: hsl(175 20% 14%);
    --color-primary: hsl(175 40% 20%);
    --color-accent: hsl(38 65% 50%);
    --color-secondary: hsl(40 20% 94%);
    --color-muted: hsl(175 8% 46%);
    --color-border: hsl(40 15% 90%);

    --font-playfair: var(--font-playfair);
    --font-dm-sans: var(--font-dm-sans);
}

@utility flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@utility flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3, h4, h5, h6, p, a, span, button, input, textarea {
    @apply font-dm-sans;
}

.links {
    @apply uppercase text-foreground hover:text-accent transition-colors duration-250;
}

h1 {
    @apply font-playfair text-8xl font-bold tracking-tighter text-white;
}

h5 {
    @apply text-base font-normal text-secondary tracking-wide;
}

h6 {
    @apply text-xs text-foreground;
}

.logo {
    @apply font-playfair tracking-tighter text-xl;
}

.btn-primary {
    @apply px-4 py-2 rounded-md bg-primary text-white text-xs font-medium cursor-pointer;
}

.btn-secondary {
    @apply px-4 py-2 rounded-md bg-secondary text-primary text-xs font-medium cursor-pointer;
}

.btn-tertiary {
    @apply px-4 py-2 text-accent text-xs cursor-pointer;
}