@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
}

@theme {

    --color-primary: #167171;
    --color-primary-light: #2A9696;
    --color-accent: #ADF2F2;
    --color-highlight: #FFF5AA;
    --color-gold: #FEDC81;
    --color-gold-strong: #EBC53A;
    --color-text-light: #F8FAFC;
    --color-text-muted: #E2E8F0;


    --font-pgf-now: var(--font-pgf-now);
}

@utility flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@utility glass {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    @apply border border-accent/20;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

@utility flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3,
h4,
h5,
h6,
p,
a,
span,
button,
input,
textarea {
    @apply font-pgf-now;
}

p {
    @apply text-white leading-relaxed font-light tracking-wide;
}

.links {
    @apply uppercase text-sm text-gold hover:text-highlight transition-colors duration-250;
}

h1 {
    @apply font-pgf-now text-8xl font-bold text-white;
}

h2 {
    @apply font-pgf-now text-4xl font-medium text-highlight drop-shadow-lg;
}

h3 {
    @apply font-pgf-now text-2xl font-bold text-white;
}

h4 {
    @apply text-4xl font-bold text-white;
}

h5 {
    @apply text-base font-normal text-gold tracking-wide;
}

h6 {
    @apply text-xs text-white;
}

.logo {
    @apply font-pgf-now text-gold text-2xl font-extrabold;
}

.btn-primary {
    @apply px-4 py-2 rounded-md bg-primary text-white text-sm font-medium cursor-pointer hover:bg-gold hover:text-primary transition-colors duration-250;
}
.btn-secondary {
    @apply px-4 py-2 rounded-md bg-gold text-primary text-sm font-medium cursor-pointer;
}

.tag {
    @apply px-3 py-1.5 rounded-md bg-gold text-primary text-xs font-bold uppercase tracking-widest shadow-md;
}

.tag-btn-inactive {
    @apply px-4 py-2 rounded-md bg-primary text-white text-sm font-medium cursor-pointer;
}
.tag-btn-active {
    @apply px-4 py-2 rounded-md bg-gold text-primary text-sm font-medium cursor-pointer;
}

.btn-tertiary {
    @apply text-gold hover:text-gold-strong text-sm cursor-pointer;
}


hr {
    @apply border-accent/20 h-0.5;
}